Diagnostics:
  ClangTidy:
    Add: [readability*]
    Remove: [readability-function-cognitive-complexity, readability-identifier-length]
CompileFlags:
  Add: [-Wall, -Wextra, -Wshadow -Wno-unused-function]
